@font-face {
    font-family: GameOver;
    src: url("/fonts/gameovercre1.ttf") format("truetype");
  }

  :root {
    --text-color: #000000;
    --text-background-color: #ffffff;
    --border-color: #000000;
  }

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow: hidden;
    font-family: 'GameOver';
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index:-1;
}

h1 {
    color: #ffffff;
    margin: 10px;
}


#mainbox {
	/*Size of Main Container*/
	width: 90vmin;
	height: 60vmin;
	
	/*Places container in the center of the screen*/
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	/*Sets selected background to cover the whole main container*/
	background-size: cover;

}

#textbox {
	
	/*Sets a border*/
	border: 0.125vmin solid var(--border-color);
	
	/*Sets a background color*/
	background: var(--text-background-color);
	
	/*Sets size and padding*/
	width: 95%;
	height: 20%;
	padding: 0.5rem;
	
	/*Makes text scrollable*/
	overflow: auto;
	word-break: break-word;
	
	/*Positioning in container*/
	margin: auto;
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%, 0);
}


#optionsbox{
	color:blue;
}

#optionsbox > div:hover{
	color:red;
	cursor:pointer;
}

#namebox{
	
	/*Sets background color, padding, and border*/
	background: var(--text-background-color);
    padding: 0.5rem;
    border: 0.125vmin solid var(--border-color);
	
	/*Positions it in the container*/
	position: absolute;
    bottom: 26.5%;
	left: 1.5%;
}